.heading{
font-size: 30px;
width: 100%;
margin: 0px;
box-shadow: rgb(9, 255, 0) 5px 5px 5px;
}
.heading_div{
float: none;
background-color: cadetblue;
color: crimson;
border-radius: 20px;
box-shadow: forestgreen 5px 5px 5px;
padding: 10px;
}
.heading_div2{
font-size: 20px;
}
.result_para_tag{
font-size: 20px;
}
.copyright_footer{
position: fixed;
color: white;
background-color: goldenrod;
width: 100%;
text-align: right;
bottom: 0;
}
canvas{
border: 5px dashed cyan;
border-radius: 20px;
box-shadow: darkgreen 5px 5px 20px;
margin-top: 165px;
}